<launch>

<rosparam file="$(find project_fail_description)/launch/controller.yaml" command="load"/>
<node args="Rev41_position_controller Rev42_position_controller Rev43_position_controller Rev44_position_controller Rev45_position_controller Rev46_position_controller Rev47_position_controller Rev48_position_controller Rev49_position_controller Rev50_position_controller Rev51_position_controller Rev52_position_controller joint_state_controller " name="controller_spawner" ns="project_fail" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/project_fail/joint_states"/>
</node>

</launch>